---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all -%}
  {%- if item.url and item.url != '/sitemap.xml' and item.url != '/robots.txt' and item.url != '/feed.xml' and '/admin/' not in item.url and item.data.permalink != false -%}
  <url>
    <loc>{{ item.url | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ (item.data.updated or item.date or page.date) | isoDate }}</lastmod>
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
